.addition__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.addition__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.addition__item label {
  position: relative;
  margin-left: 40px;
}

.addition__item label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  top: 0;
  left: -40px;
}

.addition__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
  }
}
