.advantages__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
}

.advantages__list {
  list-style: none;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}
