.advantages__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
  text-align: left;
  margin: 0 auto 38px auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 183px;
  }
}

.advantages__list {
  position: relative;
  list-style: none;
  margin: 0 auto 0 80px;
  padding: 0;
  display: grid;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      background-color: #e6e6e6;
      width: 768px;
      height: 1px;
      top: 460px;
      left: -30px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 180px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "1";
      color: #f2f2f2;
      font-size: 280px;
      background-color: transparent;
      left: 100px;
      z-index: -1;
      top: -10px;
    }
  }
}

.advantages__item--quickness .advantages__description {
  &::after {
    @media (min-width: $tablet-width) {
      content: "2";
    }
  }
}

.advantages__item--functionality .advantages__description {
  &::after {
    @media (min-width: $tablet-width) {
      content: "3";
    }
  }
}

.advantages__item--result .advantages__description {
  &::after {
    @media (min-width: $tablet-width) {
      content: "4";
    }
  }
}


.advantages__item {
  display: block;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 42px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    left: -80px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 0;
      top: -100px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin-bottom: 37px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advantages__item--utility {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");
    width: 40px;
    height: 40px;
    left: -72px;
    top: 5px;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: -85px;
    }
  }
}

.advantages__item--quickness {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-powder@1x.png");
    width: 40px;
    height: 40px;
    left: -74px;
    top: 5px;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: -85px;
    }
  }
}

.advantages__item--functionality {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-dining@1x.png");
    width: 40px;
    height: 40px;
    left: -75px;
    top: 5px;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: -85px;
    }
  }
}

.advantages__item--result {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
    width: 40px;
    height: 40px;
    left: -75px;
    top: 5px;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: -85px;
    }
  }
}

.advantages {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
