.assortment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.assortment-list__item {
  background-color: $basic-grey;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 374px;
    width: 570px;
  }
}

.assortment-list__title {
  position: relative;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 30px auto 29px 91px;

  &::before {
    content: "";
    background-color: $basic-green;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -5px;
    left: -70px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: -165px;
      top: -30px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 77px auto 24px 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 77px 51px 73px 214px;
  }
}

.assortment-list__title--slim {
  &::after {
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    display: block;
    position: absolute;
    top: -10px;
    left: -64px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      left: 420px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: -150px;
      top: -31px;
    }
  }
}

.assortment-list__title--pro {
  &::after {
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    display: block;
    position: absolute;
    top: 5px;
    left: -80px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: 360px;
      top: 35px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -190px;
      top: -15px;
    }
  }
}

.assortment-list__description {
  position: relative;
  color: $dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 38px 20px;
  text-align: left;
  max-width: 227px;

  &::after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
    top: 110px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 375px;
    margin: 0 auto 48px 52px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 23px 52px;
    max-width: 467px;
  }
}

.assortment-list__link {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 18px 19px;
  display: block;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 22px;
    height: 10px;
    left: 100px;
    top: 3px;

    @media (min-width: $tablet-width) {
      top: 9px;
      left: 120px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 53px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}
