.basic-information {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 13px;
  display: flex;
  position: relative;

  &:last-child {
    margin-bottom: 47px;
  }

  &:last-of-type::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    top: 60px;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.basic-information__header {
  margin-right: 15px;
  flex-shrink: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
