.button {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button--green {
  color: #ffffff;
  background-color: $basic-green;
}
