.catalog__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 41px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 105px;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 122px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 125px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.catalog__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 112px auto;
  grid-row-gap: 32px;
  box-sizing: border-box;
  padding-bottom: 25px;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 208px;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    min-height: 430px;
    background-color: $basic-grey;
    margin-right: 60px;
    margin-bottom: 140px;
    grid-row-gap: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 70px;
    }

    &:nth-last-child(2) {
      margin-bottom: 70px;

      @media (min-width: $desktop-width) {
        height: 430px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    width: 245px;
    margin-bottom: 144px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__item-description {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 173px;
    padding-left: 0;
    grid-template-columns: 66px 100px;
    margin-bottom: 26px;
  }
}

.catalog__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #222222;
  max-width: 76px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 191px;
    max-height: none;
    text-align: center;
    padding-top: 0;
    padding-left: 55px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    max-width: auto;
    width: 145px;
    margin-left: 12px;
    line-height: 23px;
  }
}

.catalog__button {
  font-size: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 20px;
  padding: 10px 0;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-left: -6px;
  }
}

.catalog__lastblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 158px;
  justify-content: center;
  padding-top: 55px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 429px;
    justify-content: flex-start;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__to-next-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}

.catalog__to-next-text {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 86px;
    margin: 0;
  }
}

.catalog__to-next-button {
  font-size: 16px;
  color: $dark-grey;
  background-color: $basic-grey;
  width: 100%;
  display: block;
  padding: 10px 0;
  line-height: 20px;
  position: relative;
  margin-bottom: 54px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    top: -117px;
    left: 125px;
    opacity: 0.4;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-plus.svg");
      width: 60px;
      height: 60px;
      top: -297px;
      left: 94px;
    }

    @media (min-width: $desktop-width) {
      left: 50px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 65px;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 249px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__image-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    top: -45px;
    margin-bottom: -15px;
  }

  @media (min-width: $desktop-width) {
    top: -52px;
    left: -4px;
    margin-bottom: -11px;
  }
}

.catalog__item:nth-child(2n) .catalog__image-wrapper {
  @media (min-width: $tablet-width) {
    top: -70px;
    margin-bottom: -51px;
  }

  @media (min-width: $desktop-width) {
    top: -79px;
    left: -4px;
    margin-bottom: -47px;
  }
}
