.complementary__headline {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 35px;
  position: relative;
  border-bottom: 1px solid #cdcdcd;

  &::after {
    position: absolute;
    content: "";
    background-color: $basic-green;
    width: 53px;
    height: 2px;
    left: 247px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 100px;
  }
}

.complementary__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 57px;
}

.complementary__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1;
    margin: 0;
  }
}

.complementary__item-button {
  display: block;
  padding: 6px 44px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #cdcdcd;
    top: 50px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto 50px auto;
  }
}

.complementary__item-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 632px;
    margin: 0 auto;
  }
}
