.contacts__unit {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__unit label {
  flex-shrink: 1;
  margin-right: 10px;
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    top: -20px;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.contacts__email {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 13px;
    background-image: url("../img/icon-mail.svg");
    top: 10px;
    left: 250px;

    @media (min-width: $tablet-width) {
      left: 620px;
    }

    @media (min-width: $desktop-width) {
      left: 570px;
    }
  }
}

.contacts__phone {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    top: 8px;
    left: 250px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 620px;
    }

    @media (min-width: $desktop-width) {
      left: 570px;
    }
  }
}
