.description__wrapper {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.description {
  grid-row: 1;
  grid-column: 2;
  min-height: 112px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    padding-top: 0;
  }
}

.description__criterion {
  grid-column-start: 1;
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      top: 23px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }
}

.description__identification {
  text-align: right;
  grid-column-start: 2;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }
}

.description__wrapper a {
  text-decoration: none;
}
