.form__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0;
  margin-bottom: 34px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $basic-green;
    width: 85px;
    height: 2px;
    top: 13px;
    left: 215px;

    @media (min-width: $tablet-width) {
      top: 20px;
      left: 550px;
      width: 145px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      left: 550px;
      width: 778px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      background-color: $basic-green;
      width: 30px;
      height: 2px;
      top: 20px;
      left: -80px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      left: -110px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__wrapper-desktop {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 13.5px;
  height: 13.5px;
  background-color: $basic-green;
  border-radius: 50%;
  top: 8px;
  left: -33px;
}

.form__checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-tick.svg");
  top: 8px;
  left: -32px;
}
