.gift {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.gift__title {
  position: absolute;
  top: 170px;
  left: 58px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
}

.gift__img {
  display: block;
}

.gift__link {
  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    top: 60px;
    left: 100px;
    background-repeat: no-repeat;
  }
}
