.logo__img {
  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.logo__img--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__img--tablet {
  @media (max-width: $tablet-width), (min-width: $desktop-width) {
    display: none;
  }
}

.logo__img--desktop {
  @media (max-width: $desktop-width) {
    display: none;
  }
  @media (min-width: $desktop-width) {
    display: block;
  }
}
