.logo__img {
  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.logo__img--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__img--tablet {
  @media (max-width: $tablet-width), (min-width: $desktop-width) {
    display: none;
  }
}

.logo__img--desktop {
  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo-footer {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    top: 45px;
    left: -75px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
