.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    margin-top: 42px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin-top: 71px;
    margin-bottom: 114px;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 540px;
  }
}

.main-nav {
  position: relative;
  min-height: 20px;
  width: auto;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  content: "";
  position: absolute;
  top: -27px;
  background-image: url("../img/icon-mobile-menu.svg");
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--opened .main-nav__wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 20vh;
    background-color: #ffffff;
    width: 280px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
