.number-list__value {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
}

.number-list__description {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
}
