.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Arial", "Calibri", sans-serif;
  margin: 0;
}

.page-footer {
  background-color: $basic-grey;
}

.page__footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 238px;
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px 22px 20px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 150px;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.page-footer__copyright {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
  }
}

.page__header {
  background-color: #ffffff;
  display: flex;
  margin-top: 11px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
    top: 52px;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}
