.program-selection__headline {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;
}

.program-selection__description {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
}

.program-selection__legend {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.program-selection__button {
  border: none;
}
