.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__headline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.promo__tagline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: left;
}

.promo__button {
  font-size: 14px;
}
