.promo {
  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 197px;
    margin-bottom: 83px;
  }
}

.promo__top-wrapper {
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 27px;
  padding-bottom: 140px;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 239px;
  }
}

.promo__top-wrapper::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #63a73a;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

.promo__bottom-wrapper {
  margin: -139px auto 3px auto;

  @media (min-width: $tablet-width) {
    margin-top: -169px;
  }


  @media (min-width: $desktop-width) {
    margin: -250px 0 0;
  }
}

.promo__image-wrapper {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 58%;
    top: 56%;
    transform: translate(-50%, -50%);
  }
}

.promo__headline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  width: 249px;
  margin: 0 auto 25px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 414px;
    margin: 0 0 41px 86px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 196px 0 40px 78px;
  }
}

.promo__tagline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 40px 29px 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 49px 86px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 51px 78px;
  }
}

.promo__button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  font-size: 14px;
  padding: 7px 44px;
  margin: 0 auto 22px auto;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin: 0;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 12px;
    margin-left: 78px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: -583px;
    margin-bottom: 526px;
    margin-left: 81px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
