.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 0 199px;
    display: flex;
    flex-direction: column;
    width: 709px;
    min-height: 810px;
    padding-left: 85px;
    padding-top: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 490px;
    padding: 0;
    width: 100%;
    margin-left: 80px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: center top, right top;
  }
}

.promo__image {
  margin: 0 auto 3px auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__headline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  width: 249px;
  margin: 27px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 414px;
    margin: 0 0 41px 0;
    text-align: left;
  }
}

.promo__tagline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 40px 29px 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 49px 0;
    text-align: left;
  }
}

.promo__button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  font-size: 14px;
  padding: 7px 44px;
  margin: 0 auto 22px auto;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin: 0 0 40px 0;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
  }
}
