.purpose {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.purpose__item {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.purpose__item label {
  margin-left: 15px;
}
