.social__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 128px;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  margin-left: 71px;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    top: 55px;
    left: -75px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.social__icon--fb {
  @media (min-width: $tablet-width) {
    width: 13px;
    height: 27px;
  }
}

.social__icon--vk {
  @media (min-width: $tablet-width) {
    width: 29px;
    height: 17px;
  }
}

.social__icon--insta {
  @media (min-width: $tablet-width) {
    width: 23px;
  }
}

.social__icon {
  &:hover {
    stroke: #68b738;
    stroke-width: 1px;
  }

  &:active {
    opacity: 0.3;
  }
}
