@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .container {
      width: 768px;
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 0 110px; } }

iframe {
  border: none;
  display: block; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.site-list__item {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .site-list__item {
      font-size: 18px;
      line-height: 24px;
      font-weight: normal; }
      .site-list__item:hover {
        opacity: 0.6; }
      .site-list__item:active {
        opacity: 0.3; } }
  @media (min-width: 1440px) {
    .site-list__item {
      font-size: 20px;
      line-height: 30px;
      background-color: transparent; } }

.site-list__item--active {
  position: relative; }
  @media (min-width: 768px) {
    .site-list__item--active::after {
      position: absolute;
      content: "";
      background-color: #68b738;
      height: 2px;
      right: 0;
      bottom: 0;
      left: 0;
      top: 32px; } }
  @media (min-width: 1440px) {
    .site-list__item--active::after {
      top: 38px; } }

@media (min-width: 1440px) {
  .site-list--desktop .site-list__item--active::after {
    background-color: #ffffff; } }

.site-list__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  padding: 23px 0 24px 0;
  text-align: center; }
  .site-list__link::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
    top: 66px;
    left: -20px; }
    @media (min-width: 768px) {
      .site-list__link::after {
        display: none; } }
  @media (min-width: 768px) {
    .site-list__link {
      border: none;
      padding: 0; } }
  @media (min-width: 1440px) {
    .site-list__link {
      color: #ffffff; } }

@media (min-width: 1440px) {
  .site-list__link--black {
    color: #000000; } }

@media (min-width: 1440px) {
  .promo {
    position: relative;
    padding-bottom: 197px;
    margin-bottom: 83px; } }

.promo__top-wrapper {
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 27px;
  padding-bottom: 140px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo__top-wrapper {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 640px auto; } }
  @media (min-width: 768px) {
    .promo__top-wrapper {
      background: none; } }
  @media (min-width: 1440px) {
    .promo__top-wrapper {
      padding-bottom: 239px; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .promo__top-wrapper {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 1440px auto; } }

@media (min-width: 1440px) {
  .promo__top-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #63a73a;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; } }

.promo__bottom-wrapper {
  margin: -139px auto 3px auto; }
  @media (min-width: 768px) {
    .promo__bottom-wrapper {
      margin-top: -169px; } }
  @media (min-width: 1440px) {
    .promo__bottom-wrapper {
      margin: -250px 0 0; } }

@media (min-width: 1440px) {
  .promo__image-wrapper {
    position: absolute;
    left: 58%;
    top: 56%;
    transform: translate(-50%, -50%); } }

.promo__headline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  width: 249px;
  margin: 0 auto 25px auto;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__headline {
      font-size: 60px;
      line-height: 60px;
      color: #000000;
      width: 414px;
      margin: 0 0 41px 86px;
      text-align: left; } }
  @media (min-width: 1440px) {
    .promo__headline {
      margin: 196px 0 40px 78px; } }

.promo__tagline {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 40px 29px 40px; }
  @media (min-width: 768px) {
    .promo__tagline {
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      margin: 0 0 49px 86px;
      text-align: left; } }
  @media (min-width: 1440px) {
    .promo__tagline {
      margin: 0 0 51px 78px; } }

.promo__button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  font-size: 14px;
  padding: 7px 44px;
  margin: 0 auto 22px auto;
  line-height: 24px; }
  @media (min-width: 768px) {
    .promo__button {
      padding: 14px 26px;
      margin: 0;
      width: 244px;
      font-size: 20px;
      line-height: 26px; } }
  @media (min-width: 1440px) {
    .promo__button {
      position: relative;
      top: 12px;
      margin-left: 78px; } }

@media (min-width: 768px) {
  .promo__wrapper {
    margin-top: -583px;
    margin-bottom: 526px;
    margin-left: 81px;
    position: relative; } }

@media (min-width: 1440px) {
  .promo__wrapper {
    margin: 0; } }

.assortment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 0; }
  @media (min-width: 1440px) {
    .assortment-list {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25px; } }

.assortment-list__item {
  background-color: #f2f2f2;
  margin-bottom: 20px; }
  .assortment-list__item:last-child {
    margin-bottom: 27px; }
  @media (min-width: 768px) {
    .assortment-list__item:last-child {
      margin-bottom: 45px; } }
  @media (min-width: 768px) {
    .assortment-list__item {
      margin-bottom: 30px; } }
  @media (min-width: 1440px) {
    .assortment-list__item {
      height: 374px;
      width: 570px; } }

.assortment-list__title {
  position: relative;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 30px auto 29px 91px; }
  .assortment-list__title::before {
    content: "";
    background-color: #68b738;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -6px;
    left: -69px; }
    @media (min-width: 768px) {
      .assortment-list__title::before {
        width: 200px;
        height: 200px;
        left: 392px;
        top: 15px; } }
    @media (min-width: 1440px) {
      .assortment-list__title::before {
        width: 100px;
        height: 100px;
        left: -164px;
        top: -31px; } }
  @media (min-width: 768px) {
    .assortment-list__title {
      margin: 77px auto 24px 53px;
      font-size: 36px;
      line-height: 36px; } }
  @media (min-width: 1440px) {
    .assortment-list__title {
      margin: 77px 51px 73px 214px; } }

.assortment-list__title--slim::after {
  content: "";
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  display: block;
  position: absolute;
  top: -9px;
  left: -62px; }
  @media (min-width: 768px) {
    .assortment-list__title--slim::after {
      width: 140px;
      height: 192px;
      left: 423px;
      top: 4px; } }
  @media (min-width: 1440px) {
    .assortment-list__title--slim::after {
      width: 70px;
      height: 97px;
      left: -149px;
      top: -37px; } }

.assortment-list__title--pro::after {
  content: "";
  background-image: url("../img/icon-cat-pro.svg");
  width: 67px;
  height: 28px;
  display: block;
  position: absolute;
  top: 5px;
  left: -78px; }
  @media (min-width: 768px) {
    .assortment-list__title--pro::after {
      width: 268px;
      height: 112px;
      left: 358px;
      top: 58px; } }
  @media (min-width: 1440px) {
    .assortment-list__title--pro::after {
      width: 134px;
      height: 56px;
      left: -183px;
      top: -11px; } }

.assortment-list__description {
  position: relative;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 42px 20px;
  text-align: left;
  max-width: 227px; }
  .assortment-list__description::after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
    top: 112px; }
    @media (min-width: 768px) {
      .assortment-list__description::after {
        display: none; } }
  @media (min-width: 768px) {
    .assortment-list__description {
      max-width: 375px;
      margin: 0 auto 52px 52px;
      font-size: 16px;
      line-height: 24px;
      color: #000000; } }
  @media (min-width: 1440px) {
    .assortment-list__description {
      margin: 0 auto 26px 50px;
      max-width: 467px; } }

@media (min-width: 768px) {
  .assortment-list__item:last-of-type .assortment-list__description {
    max-width: 342px; } }

@media (min-width: 1440px) {
  .assortment-list__item:last-of-type .assortment-list__description {
    max-width: 457px; } }

.assortment-list__link {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 22px 19px;
  display: block; }
  .assortment-list__link::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    left: 100px;
    top: 3px; }
    @media (min-width: 768px) {
      .assortment-list__link::after {
        top: 10px;
        left: 131px; } }
    @media (min-width: 1440px) {
      .assortment-list__link::after {
        left: 134px; } }
  @media (min-width: 768px) {
    .assortment-list__link {
      margin: 0 auto 57px 52px;
      font-size: 20px;
      line-height: 30px; }
      .assortment-list__link:hover::after {
        background-image: url("../img/icon-right-arrow-verylong.svg"); }
      .assortment-list__link:active {
        opacity: 0.3; }
        .assortment-list__link:active::after {
          background-image: url("../img/icon-right-arrow-verylong.svg"); } }

.advantages__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
  text-align: left;
  margin: 0 auto 38px auto;
  padding: 0; }
  @media (min-width: 768px) {
    .advantages__headline {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 183px; } }

.advantages__list {
  position: relative;
  list-style: none;
  margin: 0 auto 0 80px;
  padding: 0;
  display: grid;
  max-width: 280px; }
  @media (min-width: 768px) {
    .advantages__list {
      max-width: 708px;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      -moz-column-gap: 58px;
           column-gap: 58px;
      row-gap: 29px; }
      .advantages__list::after {
        position: absolute;
        content: "";
        background-color: #e6e6e6;
        width: 768px;
        height: 1px;
        top: 492px;
        left: -30px; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .advantages__list::after {
      display: none; } }
  @media (min-width: 1440px) {
    .advantages__list {
      max-width: 1220px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-column-gap: 77px;
           column-gap: 77px; } }

.advantages__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }
  @media (min-width: 768px) {
    .advantages__description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 216px; } }
  @media (min-width: 768px) {
    .advantages__description::after {
      position: absolute;
      content: "1";
      color: #f2f2f2;
      font-size: 280px;
      background-color: transparent;
      left: 118px;
      z-index: -1;
      top: -22px;
      font-family: "Oswald", "Arial", sans-serif; } }

@media (min-width: 768px) {
  .advantages__item:last-child .advantages__description {
    margin-bottom: 120px; } }

@media (min-width: 768px) {
  .advantages__item:nth-last-child(2) .advantages__description {
    margin-bottom: 120px; } }

@media (min-width: 768px) {
  .advantages__item--quickness .advantages__description::after {
    content: "2";
    left: 112px; } }

@media (min-width: 768px) {
  .advantages__item--functionality .advantages__description::after {
    content: "3";
    left: 113px; } }

@media (min-width: 768px) {
  .advantages__item--result .advantages__description::after {
    content: "4";
    left: 114px; } }

.advantages__item {
  display: block;
  margin-bottom: 26px;
  position: relative; }
  .advantages__item:last-child {
    margin-bottom: 48px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    left: -80px; }
    @media (min-width: 768px) {
      .advantages__item::before {
        width: 80px;
        height: 80px;
        left: 0;
        top: -111px; } }
  @media (min-width: 768px) {
    .advantages__item {
      max-width: 250px;
      margin-bottom: 0; }
      .advantages__item:last-child {
        margin-bottom: 0; } }

.advantages__item--utility::after {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
  width: 40px;
  height: 40px;
  left: -72px;
  top: 5px; }
  @media (min-width: 768px) {
    .advantages__item--utility::after {
      left: 13px;
      top: -95px; } }

.advantages__item--quickness::after {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
  width: 40px;
  height: 40px;
  left: -74px;
  top: 5px; }
  @media (min-width: 768px) {
    .advantages__item--quickness::after {
      left: 15px;
      top: -96px; } }

.advantages__item--functionality::after {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
  width: 40px;
  height: 40px;
  left: -75px;
  top: 5px; }
  @media (min-width: 768px) {
    .advantages__item--functionality::after {
      left: 14px;
      top: -97px; } }

.advantages__item--result::after {
  position: absolute;
  content: "";
  background-image: url("../img/advantage-clock@1x.png");
  width: 40px;
  height: 40px;
  left: -75px;
  top: 5px; }
  @media (min-width: 768px) {
    .advantages__item--result::after {
      left: 15px;
      top: -97px; } }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 0; } }

.social__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 128px;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  margin-left: 71px; }
  .social__list::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    top: 55px;
    left: -75px; }
    @media (min-width: 768px) {
      .social__list::after {
        display: none; } }
  @media (min-width: 768px) {
    .social__list {
      padding-top: 66px;
      margin-left: 15px; } }
  @media (min-width: 1440px) {
    .social__list {
      padding-top: 60px; } }

@media (min-width: 768px) {
  .social__icon--fb {
    width: 13px;
    height: 27px; } }

@media (min-width: 768px) {
  .social__icon--vk {
    width: 29px;
    height: 17px; } }

@media (min-width: 768px) {
  .social__icon--insta {
    width: 23px; } }

.social__icon:hover {
  stroke: #68b738;
  stroke-width: 1px; }

.social__icon:active {
  opacity: 0.3; }

.copyright__link {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 18px; }
  .copyright__link:active {
    opacity: 0.3; }

.copyright__icon:hover {
  stroke: #68b738; }

.copyright__icon:active {
  stroke: #68b738;
  opacity: 0.3; }

.catalog__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 41px;
  position: relative; }
  .catalog__headline::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 105px;
    left: -20px; }
    @media (min-width: 768px) {
      .catalog__headline::after {
        display: none; } }
  @media (min-width: 768px) {
    .catalog__headline {
      border: none;
      margin-bottom: 122px;
      font-size: 60px;
      line-height: 60px; } }
  @media (min-width: 1440px) {
    .catalog__headline {
      margin-bottom: 125px; } }

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .catalog__list {
      flex-direction: row; } }

.catalog__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 112px auto;
  grid-row-gap: 32px;
  box-sizing: border-box;
  padding-bottom: 25px; }
  .catalog__item::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 208px;
    left: -20px; }
    @media (min-width: 768px) {
      .catalog__item::after {
        display: none; } }
  @media (min-width: 768px) {
    .catalog__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 324px;
      min-height: 430px;
      background-color: #f2f2f2;
      margin-right: 60px;
      margin-bottom: 140px;
      grid-row-gap: 0; }
      .catalog__item:nth-child(2n) {
        margin-right: 0; }
      .catalog__item:last-child {
        margin-bottom: 70px; }
      .catalog__item:nth-last-child(2) {
        margin-bottom: 70px; } }
    @media (min-width: 768px) and (min-width: 1440px) {
      .catalog__item:nth-last-child(2) {
        height: 430px; } }
  @media (min-width: 1440px) {
    .catalog__item {
      margin-right: 80px;
      width: 245px;
      margin-bottom: 144px; }
      .catalog__item:nth-child(2n) {
        margin-right: 80px; }
      .catalog__item:nth-child(4n) {
        margin-right: 0; } }

.catalog__item-description {
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  margin: 0 0 13px 0; }
  @media (min-width: 768px) {
    .catalog__item-description {
      margin-bottom: 25px;
      width: 248px; } }
  @media (min-width: 1440px) {
    .catalog__item-description {
      width: 173px;
      padding-left: 0;
      grid-template-columns: 66px 100px;
      margin-bottom: 26px; } }

.catalog__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #222222;
  max-width: 76px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 15px; }
  @media (min-width: 768px) {
    .catalog__item-title {
      font-size: 20px;
      line-height: 24px;
      max-width: 191px;
      max-height: none;
      text-align: center;
      padding-top: 0;
      padding-left: 55px;
      padding-bottom: 21px; } }
  @media (min-width: 1440px) {
    .catalog__item-title {
      padding-left: 0;
      max-width: auto;
      width: 145px;
      margin-left: 12px;
      line-height: 23px; } }

.catalog__button {
  font-size: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 20px;
  padding: 10px 0;
  grid-column: 1 / -1; }
  @media (min-width: 768px) {
    .catalog__button {
      grid-column: 1;
      width: 248px; } }
  @media (min-width: 1440px) {
    .catalog__button {
      width: 168px;
      margin-left: -6px; } }

.catalog__lastblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 158px;
  justify-content: center;
  padding-top: 55px; }
  @media (min-width: 768px) {
    .catalog__lastblock {
      width: 324px;
      height: 429px;
      justify-content: flex-start;
      border: 2px solid #f2f2f2; } }
  @media (min-width: 1440px) {
    .catalog__lastblock {
      width: 245px; } }

.catalog__to-next-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 9px; }
  @media (min-width: 768px) {
    .catalog__to-next-title {
      width: 134px;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      padding-top: 84px;
      padding-bottom: 14px; } }
  @media (min-width: 1440px) {
    .catalog__to-next-title {
      padding-top: 81px; } }

.catalog__to-next-text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .catalog__to-next-text {
      width: 167px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      padding-bottom: 86px;
      margin: 0; } }

.catalog__to-next-button {
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
  display: block;
  padding: 10px 0;
  line-height: 20px;
  position: relative;
  margin-bottom: 54px; }
  .catalog__to-next-button:hover {
    background-color: #ebebeb; }
  .catalog__to-next-button:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3); }
  .catalog__to-next-button::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    top: -117px;
    left: 125px;
    opacity: 0.4; }
    @media (min-width: 768px) {
      .catalog__to-next-button::before {
        background-image: url("../img/icon-plus.svg");
        width: 60px;
        height: 60px;
        top: -297px;
        left: 94px; } }
    @media (min-width: 1440px) {
      .catalog__to-next-button::before {
        left: 50px; } }
  .catalog__to-next-button::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    top: 65px;
    left: -20px; }
    @media (min-width: 768px) {
      .catalog__to-next-button::after {
        display: none; } }
  @media (min-width: 768px) {
    .catalog__to-next-button {
      width: 249px;
      margin-bottom: 0; } }
  @media (min-width: 1440px) {
    .catalog__to-next-button {
      width: 169px; } }

@media (min-width: 768px) {
  .catalog__image-wrapper {
    position: relative;
    top: -45px;
    margin-bottom: -15px; } }

@media (min-width: 1440px) {
  .catalog__image-wrapper {
    top: -52px;
    left: -4px;
    margin-bottom: -11px; } }

@media (min-width: 768px) {
  .catalog__item:nth-child(2n) .catalog__image-wrapper {
    top: -70px;
    margin-bottom: -51px; } }

@media (min-width: 1440px) {
  .catalog__item:nth-child(2n) .catalog__image-wrapper {
    top: -79px;
    left: -4px;
    margin-bottom: -47px; } }

.description {
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .description {
      font-size: 16px; } }

.description__wrapper {
  grid-row: 1;
  grid-column: 2;
  min-height: 112px;
  padding-top: 8px; }
  @media (min-width: 768px) {
    .description__wrapper {
      grid-column: 1;
      padding-top: 0; } }

.description__criterion {
  grid-column-start: 1;
  position: relative; }
  @media (min-width: 768px) {
    .description__criterion::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      top: 23px;
      left: 0; } }
  @media (min-width: 1440px) {
    .description__criterion::after {
      width: 169px; } }
  @media (min-width: 768px) {
    .description__criterion {
      padding-bottom: 16px; } }

.description__identification {
  text-align: right;
  grid-column-start: 2; }
  @media (min-width: 768px) {
    .description__identification {
      padding-bottom: 9px; } }

.description__wrapper a {
  text-decoration: none; }

.page {
  height: 100%; }

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Arial", "Calibri", sans-serif;
  margin: 0; }

.page__footer {
  background-color: #f2f2f2; }

.page__footer--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 238px;
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px 22px 20px;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .page__footer--wrapper {
      flex-direction: row;
      min-height: 150px;
      width: 768px;
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .page__footer--wrapper {
      width: 1220px;
      padding: 0; } }

.page-footer__copyright {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      width: 163px;
      margin-top: 14px; } }
  @media (min-width: 1440px) {
    .page-footer__copyright {
      margin-top: -1px; } }

.page__header {
  background-color: #ffffff;
  display: flex;
  margin-top: 11px;
  position: relative; }
  .page__header::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
    top: 52px;
    left: 0; }
    @media (min-width: 768px) {
      .page__header::after {
        display: none; } }
  @media (min-width: 768px) {
    .page__header {
      flex-direction: row;
      margin-top: 0; } }
  @media (min-width: 1440px) {
    .page__header {
      background-color: transparent; } }

.button {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.button--green {
  color: #ffffff;
  background-color: #68b738; }
  .button--green:hover {
    background-color: #5eaa2f; }
  .button--green:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }

.example__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
  position: relative; }
  @media (min-width: 768px) {
    .example__headline {
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 63px; } }
  @media (min-width: 1440px) {
    .example__headline {
      background-color: #ffffff;
      padding-bottom: 76px; }
      .example__headline::before {
        position: absolute;
        content: "";
        background-color: #ffffff;
        width: 200px;
        height: 100%;
        top: 0;
        left: -199px; }
      .example__headline::after {
        position: absolute;
        content: "";
        background-color: #ffffff;
        width: 200px;
        height: 100%;
        top: 0;
        left: 1200px; } }

.example__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 279px;
  margin: 0;
  margin-bottom: 39px; }
  @media (min-width: 768px) {
    .example__description {
      font-size: 16px;
      line-height: 24px;
      width: 98%;
      margin-bottom: 69px; } }
  @media (min-width: 1440px) {
    .example__description {
      width: 436px;
      margin-bottom: 84px; } }

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .example__cost {
      text-align: right;
      font-size: 20px;
      padding-left: 166px;
      grid-column: 2;
      margin-top: -11px;
      line-height: 31px; } }
  @media (min-width: 1440px) {
    .example__cost {
      text-align: left;
      padding-left: 0;
      grid-column: 1; } }

.example__switch-text {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000; }
  .example__switch-text:first-of-type::before {
    position: absolute;
    content: "";
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #ffffff;
    top: 3px;
    left: 56px; }
    @media (min-width: 768px) {
      .example__switch-text:first-of-type::before {
        width: 428px;
        height: 6px;
        border: none;
        background-color: #dcdcdc;
        top: 12px;
        left: 70px; } }
  .example__switch-text:first-of-type::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738;
    top: 7px;
    left: 61px; }
    @media (min-width: 768px) {
      .example__switch-text:first-of-type::after {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid #cdcdcd;
        background-color: #ffffff;
        top: -2px;
        left: 268px; } }
  @media (min-width: 768px) {
    .example__switch-text:last-of-type::before {
      position: absolute;
      content: "";
      background-color: #68b738;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      top: 11px;
      left: -240px; } }
  @media (min-width: 768px) {
    .example__switch-text {
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
      cursor: pointer; }
      .example__switch-text:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
      .example__switch-text:active {
        border-bottom: none; } }

.example__switch-text:hover:first-of-type::after {
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19)); }

.example__switch-text:active:first-of-type::after {
  border: 1px solid #68b738; }

.example {
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example {
      background-color: #ffffff; } }
  @media (min-width: 1440px) {
    .example {
      background-color: #eaeaea;
      margin-top: -117px; } }

.example__content-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1440px) {
    .example__content-wrapper {
      flex-direction: row;
      height: 462px; } }

@media (min-width: 1440px) {
  .example__description-wrapper {
    margin-top: 70px; } }

.example__image-wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .example__image-wrapper {
      background-color: #eaeaea; }
      .example__image-wrapper::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 360px;
        background-color: #eaeaea;
        left: -360px; }
      .example__image-wrapper::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 30px;
        background-color: #eaeaea;
        left: 708px;
        top: 0; } }
  @media (min-width: 1440px) {
    .example__image-wrapper::before {
      display: none; }
    .example__image-wrapper::after {
      display: none; } }

.example__image-wrapper img {
  height: 232px;
  max-width: 120%;
  margin-left: -15px;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .example__image-wrapper img {
      height: auto;
      max-width: 100%;
      margin-left: 15px;
      margin-top: -169px;
      margin-bottom: -10px; } }
  @media (min-width: 1440px) {
    .example__image-wrapper img {
      margin-left: 132px;
      margin-top: -189px; } }

@media (min-width: 768px) {
  .example__number-wrapper {
    display: grid;
    margin-bottom: 221px; } }

.example__switch {
  display: flex;
  width: 195px;
  justify-content: space-between;
  margin: 0 auto 20px auto; }
  @media (min-width: 768px) {
    .example__switch {
      background-color: #eaeaea;
      width: 572px;
      margin-bottom: 49px; } }
  @media (min-width: 1440px) {
    .example__switch {
      margin: 0;
      margin-top: 25px;
      margin-left: 211px; } }

.number-list__value {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  grid-row: 1;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-left: 42px; }
  .number-list__value:first-child::before {
    position: absolute;
    content: "";
    background-image: url("../img/weight-back.svg");
    width: 130px;
    height: 56px;
    background-repeat: no-repeat;
    left: 0;
    top: -14px; }
    @media (min-width: 768px) {
      .number-list__value:first-child::before {
        left: -1px;
        width: 162px;
        height: 72px;
        background-image: url("../img/weight-back-tablet.svg"); } }
  .number-list__value:last-of-type::before {
    position: absolute;
    content: "";
    background-image: url("../img/weight-back.svg");
    width: 130px;
    height: 56px;
    background-repeat: no-repeat;
    left: 20px;
    top: -14px; }
    @media (min-width: 768px) {
      .number-list__value:last-of-type::before {
        background-image: url("../img/weight-back-tablet.svg");
        left: 26px;
        width: 162px;
        height: 72px; } }
  @media (min-width: 768px) {
    .number-list__value {
      font-size: 30px;
      line-height: 37px;
      padding-left: 56px; } }

.number-list__description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  grid-row: 2;
  text-align: center;
  margin: 0;
  width: 77px;
  margin-left: 23px; }
  .number-list__description:last-of-type {
    margin-left: 43px; }
    @media (min-width: 768px) {
      .number-list__description:last-of-type {
        margin-left: 35px;
        margin-top: -12px; } }
  @media (min-width: 768px) {
    .number-list__description {
      font-size: 14px;
      line-height: 14px;
      padding-left: 8px;
      margin-top: -12px;
      width: auto; } }
  @media (min-width: 1440px) {
    .number-list__description {
      margin-top: 0;
      text-align: left; }
      .number-list__description:last-of-type {
        margin-top: 0; } }

.number-list {
  display: grid;
  margin: 0;
  margin-bottom: 18px;
  -moz-column-gap: 15px;
       column-gap: 15px; }
  @media (min-width: 768px) {
    .number-list {
      -moz-column-gap: 50px;
           column-gap: 50px; } }
  @media (min-width: 1440px) {
    .number-list {
      width: 400px;
      margin-bottom: 63px;
      -moz-column-gap: 0;
           column-gap: 0; } }

.location__headline {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  flex-shrink: 0;
  width: 131px;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .location__headline {
      font-size: 20px;
      line-height: 24px;
      width: 171px;
      margin-left: 40px;
      margin-right: 295px; } }
  @media (min-width: 1440px) {
    .location__headline {
      margin-right: 79px;
      margin-left: 76px; } }

.location__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0; }
  @media (min-width: 768px) {
    .location__address {
      font-size: 16px;
      width: 159px;
      text-align: right;
      margin-top: -3px; } }
  @media (min-width: 1440px) {
    .location__address {
      text-align: left; } }

.location__wrapper {
  display: flex;
  padding-top: 28px;
  padding-bottom: 26px; }
  @media (min-width: 768px) {
    .location__wrapper {
      padding-top: 67px;
      padding-bottom: 52px; } }
  @media (min-width: 1440px) {
    .location__wrapper {
      position: absolute;
      background-color: #ffffff;
      width: 570px;
      top: 95px;
      justify-content: flex-start;
      left: 107px;
      padding-bottom: 62px; } }

@media (min-width: 1440px) {
  .location {
    position: relative; } }

.location--grey {
  background-color: #f2f2f2; }

.location iframe {
  height: 362px;
  width: 100%; }
  @media (min-width: 768px) {
    .location iframe {
      height: 400px; } }

.complementary__headline {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 34px;
  position: relative;
  border-bottom: 1px solid #cdcdcd; }
  .complementary__headline::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 53px;
    height: 2px;
    left: 247px;
    top: 15px; }
    @media (min-width: 768px) {
      .complementary__headline::after {
        width: 328px;
        top: 20px;
        left: 410px; } }
    @media (min-width: 1440px) {
      .complementary__headline::after {
        width: 957px;
        left: 370px; } }
  @media (min-width: 768px) {
    .complementary__headline::before {
      position: absolute;
      content: "";
      background-color: #68b738;
      width: 30px;
      height: 2px;
      top: 20px;
      left: -30px; } }
  @media (min-width: 1440px) {
    .complementary__headline::before {
      width: 70px;
      left: -113px; } }
  @media (min-width: 768px) {
    .complementary__headline {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 46px;
      padding-left: 37px;
      border-bottom: none; } }
  @media (min-width: 1440px) {
    .complementary__headline {
      margin-top: -68px;
      padding-left: 0; } }

.complementary__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 57px; }
  @media (min-width: 768px) {
    .complementary__list {
      border: 1px solid #cdcdcd;
      padding-top: 26px;
      margin-bottom: 71px; } }
  @media (min-width: 1440px) {
    .complementary__list {
      border: none;
      grid-column: 1; }
      .complementary__list::before {
        position: absolute;
        content: "";
        width: 895px;
        height: 1px;
        background-color: #cdcdcd;
        top: 0; }
      .complementary__list::after {
        position: absolute;
        content: "";
        width: 895px;
        height: 1px;
        background-color: #cdcdcd;
        top: 288px; } }

.complementary__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  padding-top: 12px;
  padding-bottom: 14px;
  margin: 0; }
  @media (min-width: 768px) {
    .complementary__item-title {
      font-size: 20px;
      line-height: 20px;
      grid-column: 1;
      margin: 0;
      padding-top: 0; } }

.complementary__item-button {
  display: block;
  padding: 6px 44px;
  position: relative;
  line-height: 28px;
  margin-bottom: 18px; }
  .complementary__item-button::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #cdcdcd;
    top: 57px;
    left: 0; }
    @media (min-width: 768px) {
      .complementary__item-button::after {
        width: 706px;
        left: -37px;
        top: 64px; } }
    @media (min-width: 1440px) {
      .complementary__item-button::after {
        width: 889px;
        left: -645px;
        top: 56px; } }
  @media (min-width: 768px) {
    .complementary__item-button {
      width: 632px;
      margin: 0 auto 50px auto; } }
  @media (min-width: 1440px) {
    .complementary__item-button {
      width: 244px;
      margin: -10px auto 42px 16px; } }

@media (min-width: 768px) {
  .complementary__item:last-child .complementary__item-button::after {
    display: none; } }

@media (min-width: 768px) {
  .complementary__item:last-child .complementary__item-button {
    margin-bottom: 28px; } }

@media (min-width: 768px) {
  .complementary__item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 632px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 11px; } }

@media (min-width: 768px) {
  .complementary__item-wrapper {
    -moz-column-gap: 12px;
         column-gap: 12px; } }

@media (min-width: 768px) {
  .complementary__wrapper {
    margin-bottom: 76px; } }

@media (min-width: 1440px) {
  .complementary__wrapper {
    display: grid;
    -moz-column-gap: 72px;
         column-gap: 72px;
    margin-bottom: 4px; } }

@media (min-width: 1440px) {
  .complementary__item {
    display: grid;
    width: 896px;
    grid-template-columns: 1fr 1fr; } }

.additional {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: grid;
  padding-bottom: 15px;
  margin: 0; }
  @media (min-width: 768px) {
    .additional {
      font-size: 16px;
      line-height: 20px;
      grid-column: 2;
      grid-template-columns: 2fr 1fr; } }
  @media (min-width: 1440px) {
    .additional {
      -moz-column-gap: 109px;
           column-gap: 109px; } }

.additional__size {
  grid-column: 1; }
  @media (min-width: 768px) {
    .additional__size {
      padding-top: 1px;
      text-align: right; } }
  @media (min-width: 1440px) {
    .additional__size {
      text-align: left; } }

.additional__cost {
  grid-column: 2;
  text-align: right; }
  @media (min-width: 768px) {
    .additional__cost {
      margin-left: 0; } }
  @media (min-width: 1440px) {
    .additional__cost {
      text-align: left; } }

.gift {
  position: relative;
  margin-bottom: 35px; }
  @media (min-width: 1440px) {
    .gift {
      grid-column: 2; } }

.gift__title {
  position: absolute;
  top: 186px;
  left: 58px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px; }

.gift__image-wrapper::before {
  position: absolute;
  content: "";
  width: 93px;
  height: 62px;
  background-image: url("../img/icon-gift.svg");
  top: 63px;
  left: 111px;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .gift__image-wrapper::before {
      top: 64px;
      left: 89px; } }
  @media (min-width: 1440px) {
    .gift__image-wrapper::before {
      left: 95px; } }

.gift__image-wrapper::after {
  position: absolute;
  content: "Закажите все \0a и получите чехол для \0a кота в подарок!";
  white-space: pre;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  top: 187px;
  left: 60px;
  background-repeat: no-repeat;
  width: 159px; }
  @media (min-width: 768px) {
    .gift__image-wrapper::after {
      text-align: left;
      top: 70px;
      left: 423px; } }
  @media (min-width: 1440px) {
    .gift__image-wrapper::after {
      text-align: center;
      top: 186px;
      left: 43px; } }

.program-selection__headline {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .program-selection__headline {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 52px; } }
  @media (min-width: 1440px) {
    .program-selection__headline {
      margin-bottom: 56px; } }

.program-selection__description {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  width: 226px;
  margin-bottom: 39px; }
  @media (min-width: 768px) {
    .program-selection__description {
      font-size: 20px;
      line-height: 30px;
      max-width: 323px;
      margin-left: 38px;
      width: auto;
      margin-bottom: 64px; } }
  @media (min-width: 1440px) {
    .program-selection__description {
      margin-left: 0; } }

.program-selection__legend {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 31px; }
  @media (min-width: 768px) {
    .program-selection__legend {
      text-align: left;
      font-size: 16px;
      margin-top: 15px; } }

.program-selection__button {
  border: none;
  width: 100%;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 21px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .program-selection__button {
      font-size: 20px;
      width: 244px;
      line-height: 38px; } }
  @media (min-width: 1440px) {
    .program-selection__button {
      width: 568px; } }

.basic-information {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 14px;
  display: flex;
  position: relative; }
  .basic-information:last-child {
    margin-bottom: 45px; }
    @media (min-width: 768px) {
      .basic-information:last-child {
        margin-bottom: 63px; } }
  .basic-information:last-of-type::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    top: 66px;
    left: -20px; }
    @media (min-width: 768px) {
      .basic-information:last-of-type::after {
        display: none; } }

.basic-information__header {
  margin-right: 15px;
  flex-shrink: 1;
  margin-top: 8px; }
  @media (min-width: 768px) {
    .basic-information__header {
      font-size: 20px;
      line-height: 30px; } }

.form__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  padding-top: 13px;
  padding-left: 5px;
  padding-bottom: 15px;
  height: 46px; }
  .form__input:focus {
    border: 2px solid #444444;
    outline: none; }
  .form__input:focus:required:invalid {
    border: 2px solid #ff8282;
    outline: none; }
  @media (min-width: 768px) {
    .form__input {
      font-size: 20px;
      line-height: 30px;
      margin-right: 38px;
      height: 52px;
      margin-bottom: 8px;
      padding-left: 20px; } }

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0;
  margin-bottom: 34px;
  position: relative; }
  .form__legend::after {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 98px;
    height: 2px;
    top: 16px;
    left: 202px; }
    @media (min-width: 768px) {
      .form__legend::after {
        top: 22px;
        left: 552px;
        width: 145px; } }
    @media (min-width: 1440px) {
      .form__legend::after {
        top: 20px;
        left: 550px;
        width: 778px; } }
  @media (min-width: 768px) {
    .form__legend::before {
      position: absolute;
      content: "";
      background-color: #68b738;
      width: 39px;
      height: 2px;
      top: 22px;
      left: -80px; } }
  @media (min-width: 1440px) {
    .form__legend::before {
      width: 70px;
      left: -110px; } }
  @media (min-width: 768px) {
    .form__legend {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 74px; } }

@media (min-width: 768px) {
  .addition .form__legend {
    margin-bottom: 57px; } }

@media (min-width: 1440px) {
  .addition .form__legend::after {
    top: 22px; } }

@media (min-width: 768px) {
  .form {
    padding-left: 40px; } }

@media (min-width: 1440px) {
  .form {
    padding-left: 0; } }

@media (min-width: 1440px) {
  .form__wrapper-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: -5px; } }

.form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 13.5px;
  height: 13.5px;
  background-color: #68b738;
  border-radius: 50%;
  top: 8px;
  left: -36px; }
  @media (min-width: 768px) {
    .form__radio:checked + label::after {
      width: 18px;
      height: 18px;
      top: 6px;
      left: -49px; } }

.form__checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-tick.svg");
  top: 8px;
  left: -39px; }
  @media (min-width: 768px) {
    .form__checkbox:checked + label::after {
      left: -48px; } }

input::-moz-placeholder {
  opacity: 1; }

input::placeholder {
  opacity: 1; }

.purpose {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 55px; }
  @media (min-width: 768px) {
    .purpose {
      border: 1px solid #e7e7e7;
      padding-top: 29px;
      padding-left: 42px;
      margin-right: 38px;
      padding-bottom: 6px;
      margin-bottom: 75px; } }
  @media (min-width: 1440px) {
    .purpose {
      margin-left: 37px;
      margin-right: 1px;
      padding-top: 31px; } }

.purpose__item {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .purpose__item {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 23px; } }

.purpose__item label {
  margin-left: 45px;
  position: relative; }
  .purpose__item label:hover::before {
    border: 1px solid #bababa; }
  .purpose__item label:active {
    color: #222222;
    opacity: 0.3; }
    .purpose__item label:active::before {
      border: 1px solid #bababa; }

.purpose__item label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  top: -1px;
  left: -44px; }
  @media (min-width: 768px) {
    .purpose__item label::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -60px; } }

.contacts__unit {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .contacts__unit {
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1440px) {
    .contacts__unit:first-of-type {
      width: 604px;
      margin-right: 41px; }
    .contacts__unit:last-of-type {
      width: 610px; } }

.contacts__unit label {
  position: relative;
  flex-shrink: 1;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .contacts__unit label {
      margin-right: 17px; } }

.contacts__wrapper {
  margin-bottom: 23px; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      margin-bottom: 57px; } }
  @media (min-width: 1440px) {
    .contacts__wrapper {
      display: flex;
      margin-bottom: 46px; } }

.contacts {
  position: relative; }
  .contacts::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    top: -113px;
    left: -20px; }
    @media (min-width: 768px) {
      .contacts::after {
        display: none; } }

.contacts__email {
  position: relative; }
  .contacts__email::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 13px;
    background-image: url("../img/icon-mail.svg");
    top: 9px;
    left: 247px; }
    @media (min-width: 768px) {
      .contacts__email::after {
        left: 596px;
        top: 14px; } }
    @media (min-width: 1440px) {
      .contacts__email::after {
        left: 531px; } }

.contacts__phone {
  position: relative; }
  .contacts__phone::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    top: 5px;
    left: 249px;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .contacts__phone::after {
        left: 594px;
        top: 11px; } }
    @media (min-width: 1440px) {
      .contacts__phone::after {
        left: 536px; } }

.contacts__header {
  margin-top: 6px; }

.addition__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  padding-top: 5px; }
  @media (min-width: 768px) {
    .addition__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
      -moz-column-gap: 20px;
           column-gap: 20px;
      margin-bottom: 57px; } }
  @media (min-width: 1440px) {
    .addition__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-column-gap: 75px;
           column-gap: 75px;
      margin-bottom: 64px; } }

.addition__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 25px;
  margin-left: 7px; }
  @media (min-width: 768px) {
    .addition__item {
      font-size: 20px;
      line-height: 30px;
      margin-left: 18px;
      margin-bottom: 2px; } }

.addition__item label {
  position: relative;
  margin-left: 40px; }
  .addition__item label:hover::before {
    border: 1px solid #bababa; }
  .addition__item label:active {
    color: rgba(0, 0, 0, 0.3); }
    .addition__item label:active::before {
      border: 1px solid #bababa;
      opacity: 0.3; }
    .addition__item label:active::after {
      opacity: 1; }

.addition__item label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  top: -1px;
  left: -46px; }
  @media (min-width: 768px) {
    .addition__item label::before {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -59px; } }

@media (min-width: 768px) {
  .addition__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    -moz-column-gap: 18px;
         column-gap: 18px; } }

@media (min-width: 1440px) {
  .addition__wrapper {
    -moz-column-gap: 75px;
         column-gap: 75px;
    margin-bottom: 61px; } }

.addition {
  position: relative; }
  .addition::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 61px;
    height: 2px;
    top: -44px;
    left: 165px; }
    @media (min-width: 768px) {
      .addition::before {
        width: 302px;
        top: -88px;
        left: 251px; } }
    @media (min-width: 1440px) {
      .addition::before {
        top: -90px; } }

.logo__img:hover {
  opacity: 0.8; }

.logo__img:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .logo__img {
    margin-top: 24px;
    margin-left: -2px; } }

@media (min-width: 1440px) {
  .logo__img {
    margin-top: 53px; } }

@media (min-width: 768px) {
  .logo__img--mobile {
    display: none; } }

@media (max-width: 767px), (min-width: 1440px) {
  .logo__img--tablet {
    display: none; } }

@media (max-width: 1440px) {
  .logo__img--desktop {
    display: none; } }

@media (min-width: 1440px) {
  .logo__img--desktop {
    display: block; } }

.logo-footer {
  position: relative;
  margin-left: 76px; }
  .logo-footer::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    top: 55px;
    left: -75px; }
    @media (min-width: 768px) {
      .logo-footer::after {
        display: none; } }
  @media (min-width: 768px) {
    .logo-footer {
      margin-left: 0;
      margin-top: 63px; } }

.logo-footer__text:hover {
  opacity: 0.8; }

.logo-footer__text:active {
  opacity: 0.6; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 440px;
      margin-top: 42px;
      margin-bottom: 47px; } }
  @media (min-width: 1440px) {
    .main-nav__list {
      width: 478px;
      margin-top: 69px;
      margin-bottom: 57px; } }

@media (min-width: 768px) {
  .main-nav__wrapper {
    margin-left: 95px; } }

@media (min-width: 1440px) {
  .main-nav__wrapper {
    margin-left: 540px; } }

.main-nav {
  position: relative;
  width: auto;
  padding-top: 11px; }
  @media (min-width: 768px) {
    .main-nav {
      padding-top: 0; } }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav--closed .main-nav__toggle {
  content: "";
  position: absolute;
  top: -28px;
  background-image: url("../img/icon-mobile-menu.svg"); }

@media (min-width: 320px) and (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    width: 280px; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; } }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  height: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

@media (min-width: 1440px) {
  .header {
    position: absolute;
    width: 100%;
    z-index: 1; } }

@media (min-width: 768px) {
  .header__wrapper {
    display: flex; } }

.comment textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
  padding-left: 15px; }
  @media (min-width: 768px) {
    .comment textarea {
      width: 631px;
      height: 175px;
      padding-top: 10px;
      margin-bottom: 65px; } }
  @media (min-width: 1440px) {
    .comment textarea {
      width: 100%;
      margin-bottom: 67px; } }

.comment {
  position: relative; }
  .comment::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    width: 61px;
    height: 2px;
    top: -44px;
    left: 142px; }
    @media (min-width: 768px) {
      .comment::before {
        width: 335px;
        top: -88px;
        left: 218px; } }
    @media (min-width: 1440px) {
      .comment::before {
        top: -90px; } }

/*# sourceMappingURL=style.css.map */
