@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/site-list.scss";
@import "blocks/promo.scss";
@import "blocks/assortment-list.scss";
@import "blocks/advantages.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
@import "blocks/description.scss";
@import "blocks/page.scss";
@import "blocks/button.scss";
@import "blocks/example.scss";
@import "blocks/number-list.scss";
@import "blocks/location.scss";
@import "blocks/complementary.scss";
@import "blocks/additional.scss";
@import "blocks/gift.scss";
@import "blocks/program-selection.scss";
@import "blocks/basic-information.scss";
@import "blocks/form.scss";
@import "blocks/purpose.scss";
@import "blocks/contacts.scss";
@import "blocks/addition.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/header.scss";
@import "blocks/comment.scss";
@import "blocks/logo-footer.scss";
